/*speed-dial*/
button.md-button.md-fab.md-theme-purple {
  background: -webkit-linear-gradient(left top, #8728fe, #517bfc);
  color: #ffffff;
}

.md-speed-dial [md-fab-trigger] ~ .md-button {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 2);
}

/*tabs*/
.md-tabs .md-tabs-navigation.md-has-icon.md-has-label {
  min-height: 72px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 5px 20px 0px black;
}

.md-tabs .md-tab-header {
  width: 10vw;
  text-transform: initial;
}
.md-tabs .md-tab-header.md-active i, .md-tabs .md-tab-header.md-active span {
  background: -webkit-linear-gradient(left top, #8728fe, #517bfc);
  background: linear-gradient(left top, #8728fe, #517bfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.md-tabs .md-tab-header i, .md-tabs .md-tab-header span {
  color: rgba(0, 0, 0, 0.42);
}

.md-theme-default.md-tabs > .md-tabs-navigation .md-tab-indicator {
  background-color: #ffffff !important;
}

/*ripple*/
.md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header.md-active, .md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header:focus, .md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header {
  color: rgba(0, 0, 0, 0.87) !important;
}
