@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy.otf") format("opentype"); }

@font-face {
  font-family: GilroyBold;
  font-weight: bold;
  src: url("../fonts/GilroyBold.otf") format("opentype"); }

[v-cloak] {
  display: none; }

body {
  overflow-x: hidden; }

/*Toolbar*/
.md-toolbar {
  background: -webkit-linear-gradient(left top, #517bfc, #8728fe);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100vw; }
  .md-toolbar img {
    height: 5vh !important;
    min-height: 62px;
    margin-left: 16px; }
  .md-toolbar .me-head {
    flex: 1 1 0%;
    max-width: 140px; }

.md-button.md-icon-button.md-dense {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.5); }
  .md-button.md-icon-button.md-dense:hover {
    color: #ffffff; }
  .md-button.md-icon-button.md-dense:first-child {
    margin-left: 24px; }

.netbig {
  transform: scale(2);
  margin-top: 14px; }

.netmid {
  transform: scale(1.55);
  margin-top: 12px; }

@media screen and (max-width: 419px) {
  .me-logo {
    content: url("../img/Logo_White_compressed.svg"); }
  .me-social {
    margin-left: -72px; }
  .md-toolbar img {
    max-width: 75px;
    margin-left: 8px; } }

@media screen and (min-width: 420px) {
  .me-logo {
    content: url("../img/Logo_Full_White.svg"); }
  .me-social {
    margin-right: 8px; } }

/*Speed-dial*/
button.md-button.md-fab.md-theme-purple, a.md-button.md-fab.md-primary.md-mini.md-clean.md-theme-purple {
  background: -webkit-linear-gradient(left top, rgba(81, 123, 252, 0.75), rgba(135, 40, 254, 0.75)); }
  button.md-button.md-fab.md-theme-purple .md-icon, a.md-button.md-fab.md-primary.md-mini.md-clean.md-theme-purple .md-icon {
    color: #ffffff; }

.md-button:hover:not([disabled]):not(.md-raised) {
  background-color: white; }

.md-speed-dial [md-fab-trigger] ~ .md-button {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 2); }

.md-speed-dial.md-fab-bottom-right {
  bottom: 96px;
  position: fixed; }

/*Tabs*/
.md-tabs .md-tabs-navigation.md-has-icon.md-has-label {
  min-height: 72px;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25); }
  @media screen and (min-width: 420px) {
    .md-tabs .md-tabs-navigation.md-has-icon.md-has-label {
      width: 100vw; } }

.md-tabs .md-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify; }

.md-tabs .md-tabs-content, .md-tabs .md-tab {
  min-height: calc(100vh - 136px) !important;
  margin-bottom: 64px; }

.md-tabs .md-tab-header {
  width: 20vw;
  /*12vw*/
  min-width: unset;
  max-width: 185px;
  /*unset*/
  text-transform: initial;
  font-family: "GilroyBold",Roboto,Arial,sans-serif; }
  .md-tabs .md-tab-header.md-active i, .md-tabs .md-tab-header.md-active span {
    background: -webkit-linear-gradient(left top, #517bfc, #8728fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .md-tabs .md-tab-header.md-active span {
    font-family: "GilroyBold",Roboto,Arial,sans-serif;
    font-weight: bold; }
  .md-tabs .md-tab-header i {
    color: rgba(0, 0, 0, 0.42); }
  .md-tabs .md-tab-header span {
    color: #949494;
    /*#666*/
    font-weight: bold;
    letter-spacing: 2px; }
    @media screen and (max-width: 420px) {
      .md-tabs .md-tab-header span {
        font-weight: 200;
        letter-spacing: 0px; } }

.md-theme-default.md-tabs > .md-tabs-navigation .md-tab-indicator {
  background: -webkit-linear-gradient(left top, #517bfc, #8728fe);
  height: 5px; }

@media screen and (max-width: 420px) {
  .md-tabs .md-tabs-navigation-scroll-container, .md-tabs .md-tabs-navigation-container {
    width: 100vw;
    justify-content: space-between; } }

@media screen and (min-width: 780px) {
  .md-tabs .md-tab-header-container {
    flex-flow: row; }
  .md-tabs .md-tabs-navigation.md-has-icon.md-has-label .md-icon {
    margin-bottom: 0px;
    margin-right: 5px; } }

.md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header-navigation-button {
  background: -webkit-linear-gradient(left top, #517bfc, #8728fe); }

/*Content Home*/
#logo {
  max-height: 150px;
  margin-left: 15px;
  margin-right: 15px; }

h1 {
  font-family: "GilroyBold", Roboto, Arial, sans-serif;
  font-weight: bold; }
  @media screen and (max-width: 420px) {
    h1 {
      text-align: center; } }

h2 {
  font-family: "Gilroy", Roboto, Arial, sans-serif;
  font-weight: 500; }
  h2.me-intro {
    text-align: center; }

p {
  font-family: "Gilroy", Roboto, Arial, sans-serif; }

b {
  font-family: "GilroyBold", Roboto, Arial, sans-serif; }

.link {
  color: #517bfc !important;
  position: relative;
  text-decoration: none !important; }
  .link:hover {
    color: #517bfc !important; }
  .link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #517bfc;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .link:visited {
    color: #517bfc !important; }

a.md-button.md-raised.md-primary.md-theme-default {
  background: -webkit-linear-gradient(left top, #517bfc, #8728fe);
  background: -webkit-linear-gradient(left top, rgba(81, 123, 252, 0.75), rgba(135, 40, 254, 0.75)) !important;
  font-family: "Gilroy",Roboto,Arial,sans-serif;
  letter-spacing: 2.5px; }
  a.md-button.md-raised.md-primary.md-theme-default:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.14), 0 1px 14px rgba(0, 0, 0, 0.12); }

/*Content Profile*/
.about__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 1160px; }

section.about__section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 2;
  padding-right: 80px; }
  section.about__section:first-child {
    flex: 1; }
  section.about__section:last-child {
    flex: 1; }
    @media screen and (min-width: 780px) {
      section.about__section:last-child {
        padding-right: 0; } }

@media screen and (max-width: 780px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  section.about__section {
    padding: 15px;
    margin-top: -10px; }
    section.about__section:first-child {
      margin-top: -20px; }
    section.about__section:last-child {
      margin-top: -50px; }
  .layout__dynamic-title-wrapper {
    margin-top: 1.5em; } }

.about__wrapper {
  max-width: 90vw; }

img#frederickarmando {
  padding-top: 25px; }

.me-arrow {
  display: none; }
  @media screen and (max-width: 780px) {
    .me-arrow {
      width: 82vw;
      justify-content: center;
      margin-top: 0.5em;
      font-size: 2.5rem;
      background: -webkit-linear-gradient(left top, #517bfc, #8728fe);
      -webkit-background-clip: text;
      /*-webkit-text-fill-color: transparent;*/
      display: none;
      /*flex*/ }
      .me-arrow a {
        margin-left: 0 !important; }
        .me-arrow a i {
          color: #517bfc;
          width: 42px;
          height: 42px;
          font-size: 42px; } }

.me-mid {
  width: 42vw !important; }

.me-before {
  display: inline-flex; }

.me-down {
  font-size: 42px; }

/*Content Project*/
#iframe1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 100%;
  height: calc(100vh - 135px) !important;
  width: 100vw; }

.slideshow .slick-dots li button:before {
  height: 5px !important;
  border-radius: 5px !important; }

/*Ripple*/
.md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header.md-active, .md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header:focus, .md-theme-default.md-tabs > .md-tabs-navigation .md-tab-header {
  color: rgba(0, 0, 0, 0.87) !important; }

/*Select*/
.md-theme-default :not(input):not(textarea)::selection {
  background: #517bfc !important; }

/*Cookie*/
.cc-floating.cc-theme-classic {
  text-align: center;
  font-size: 0.95rem;
  border-radius: 0px !important;
  width: 100vw;
  max-width: 100vw !important;
  top: 0;
  padding-bottom: 0.6em !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: baseline; }

a.cc-btn.cc-dismiss {
  font-size: 0.85rem;
  min-width: 64px !important;
  max-width: 96px !important; }
  a.cc-btn.cc-dismiss:hover {
    text-decoration: none; }

/*Loader*/
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 100px auto;
  margin-top: 33vh; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  background: -webkit-linear-gradient(left top, #517bfc, #8728fe);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

