@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy.eot'); /* IE9+ Compat Modes */
    src: url('../fonts/Gilroy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Gilroy.woff2') format('woff2'), /* Super modern browsers */
    url('../fonts/Gilroy.woff') format('woff'), /* Modern browsers */
    url('../fonts/Gilroy.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gilroy.svg#FontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/GilroyBold.eot'); /* IE9+ Compat Modes */
    src: url('../fonts/GilroyBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GilroyBold.woff2') format('woff2'), /* Super modern browsers */
    url('../fonts/GilroyBold.woff') format('woff'), /* Modern browsers */
    url('../fonts/GilroyBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GilroyBold.svg#FontName') format('svg'); /* Legacy iOS */
}

_:-ms-fullscreen, :root .me-social {
    margin-right: 150px;
}

.md-toolbar {
    background: #0A284B;
    background: -webkit-gradient(linear, left top, right bottom, from(#517bfc), to(#8728fe));
    background: -webkit-linear-gradient(left top,#3884dc,#685fde);
    background: -moz-linear-gradient(left top, #517bfc, #8728fe);
    background: -ms-linear-gradient(left top, #517bfc, #8728fe);
    background: -o-linear-gradient(left top, #517bfc, #8728fe);
    background: linear-gradient(left top, #517bfc, #8728fe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#517bfc', endColorstr='#8728fe');
    zoom: 1;
}

_:-ms-lang(x), .md-toolbar img {
    height: 5vh !important;
}

_:-ms-fullscreen, :root .md-toolbar img {
    height: auto !important;
}

.ie-fixMinHeight {
    flex-grow: 1;
    margin-top: 12%;
}

.ie-fixMinHeight-2 {
    flex-grow: 1;
    margin-top: 8%;
}

.ie-fixButton {
    text-align: center;
}

/*button.md-button.md-fab.md-theme-purple .md-icon, a.md-button.md-fab.md-primary.md-mini.md-clean.md-theme-purple .md-icon {
    color: #8728fe;
}*/

button.md-button.md-fab.md-theme-purple, a.md-button.md-fab.md-primary.md-mini.md-clean.md-theme-purple {
    background: #0A284B;
    background: -webkit-gradient(linear, left top, right bottom, from(#517bfc), to(#8728fe));
    background: -webkit-linear-gradient(left top,#3884dc,#685fde);
    background: -moz-linear-gradient(left top, #517bfc, #8728fe);
    background: -ms-linear-gradient(left top, #517bfc, #8728fe);
    background: -o-linear-gradient(left top, #517bfc, #8728fe);
    background: linear-gradient(left top, #517bfc, #8728fe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#517bfc', endColorstr='#8728fe');
    zoom: 1;
}

.md-tabs .md-tab-header-container{
    padding-bottom: 15px;
}

.md-button.md-icon-button .md-icon, .md-button.md-fab .md-icon {
    bottom: -7px;
}

.md-theme-default.md-toolbar, .md-theme-default.md-tabs > .md-tabs-navigation .md-tab-indicator {
    background-color: #517bfc !important;
    background: #0A284B;
    background: -webkit-gradient(linear, left top, right bottom, from(#517bfc), to(#8728fe));
    background: -webkit-linear-gradient(left top,#3884dc,#685fde);
    background: -moz-linear-gradient(left top, #517bfc, #8728fe);
    background: -ms-linear-gradient(left top, #517bfc, #8728fe);
    background: -o-linear-gradient(left top, #517bfc, #8728fe);
    background: linear-gradient(left top, #517bfc, #8728fe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#517bfc', endColorstr='#8728fe');
    zoom: 1;
}

:not([disabled]):not(.md-icon-button).md-theme-default.md-button.md-raised {
    background-color: #8728fe !important;
    background: #0A284B;
    background: -webkit-gradient(linear, left top, right bottom, from(#517bfc), to(#8728fe));
    background: -webkit-linear-gradient(left top,#3884dc,#685fde);
    background: -moz-linear-gradient(left top, #517bfc, #8728fe);
    background: -ms-linear-gradient(left top, #517bfc, #8728fe);
    background: -o-linear-gradient(left top, #517bfc, #8728fe);
    background: linear-gradient(left top, #517bfc, #8728fe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#517bfc', endColorstr='#8728fe');
    zoom: 1;
}

.me-icon-2{
    bottom: 0 !important;
}

.md-tabs .md-tab-header{
    text-transform: inherit;
}

.me-menu{
    padding-top: 5px;
}

#logo{
    width: 100%;
}