@font-face {
    font-family: Gilroy;
    src: url("../../fonts/Gilroy.otf") format("opentype");
}

@font-face {
    font-family: GilroyBold;
    font-weight: bold;
    src: url("../../fonts/GilroyBold.otf") format("opentype");
}

body,
html {
  height: 100%;
  background: #110101;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
    
    * {
      outline: none;
    }
    
    .item {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;
      
      .text {
        display: none;
      }
      
      img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  .slick-dots {
    position: fixed;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
        top: 40px;
    right: 0;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;
        margin: 12px;
    
    li {
      display: block;
      width: 100%;
      height: auto;
      
      & button {
        position: relative;
        width: 20px;
        height: 15px;
        text-align: center;
        
        &:before {
          content: '';
          background: -webkit-linear-gradient(left top,#517bfc,#8728fe); /*#fff*/
          color: #fff;
          height: 5px !important;
          width: 20px;
          border-radius: 5px !important;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          opacity: 0.6;
        }
      }
      
      &.slick-active {
        button {
          &:before {
            width: 40px;
            opacity: 1;
          }
        }
      }
    }
  }
  
  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
    
    .slider {
      left: 0;
      position: absolute;
    }
  }
}

.slideshow-text {
    font-size: 48px;
    width: 100vw;
    font-family: "GilroyBold",Roboto,Arial,sans-serif;
    font-weight: bold; /*100*/
    pointer-events: none;
    /*text-transform: uppercase;*/
    letter-spacing: 14px;
    line-height: 1.6;
    position: fixed;
    z-index: 99;
    height: unset;
    bottom: auto;
    top: -8px;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 24px !important;
    text-align: start;

    @media screen and (min-width: 780px) {
        margin-top: -24px !important;
    }

    @media (max-width: 780px) {
        top: 2px;
        font-size: 22px;
        font-family: "GilroyBold",Roboto,Arial,sans-serif;
    }
    @media (max-width: 320px) {
            top: 8px;
            font-size: 18px;
    }
}

p {
    background: -webkit-linear-gradient(left top,#517bfc,#8728fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 720px) {
    .slideshow .slider .item img {
        top: 20%;
        left: 22.5%;
        transform: translate(-25%,-25%);
    }
}

#slideshow-link {
    z-index: 2;
    position: absolute;
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;

    .more {
        font-family: "GilroyBold",Roboto,Arial,sans-serif;
        position: relative;
        text-decoration: none !important;

        &:hover {
            color: #517bfc !important;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #517bfc;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        
        p {
            color: #517bfc !important;
        }
    }
}

a:-webkit-any-link{
    text-decoration: none !important;
}